## Interpreter

Python is an interpreted language which can be used in two ways:

"Interactively": when you use it as an “advanced calculator” executing one command at a time. To start Python in this mode, execute python on the command line:

In [8]:
2 + 2

4

In [9]:
print("Hello World")

Hello World

"Scripting" Mode: executing a series of “commands” saved in text file, usually with a .py extension after the name of your file:

In [10]:
python my_script.py

SyntaxError: invalid syntax (1858525316.py, line 1)

## Introduction to variables in Python

### Assigning values to variables
One of the most basic things we can do in Python is assign values to variables:

In [11]:
text = "Data Carpentry"  # An example of assigning a value to a new text variable,
                         # also known as a string data type in Python
number = 42              # An example of assigning a numeric value, or an integer data type
pi_value = 3.1415        # An example of assigning a floating point value (the float data type)

Here we’ve assigned data to the variables `text`, `number` and `pi_value`, using the assignment operator `=`. To review the value of a variable, we can type the name of the variable into the interpreter and press `Return`:

In [12]:
text

'Data Carpentry'

Everything in Python has a type. To get the type of something, we can pass it to the built-in function type:

In [13]:
# Type of the text object
type(text)

str

In [14]:
# Type of the number object
type(number)

int

In [ ]:
# Type of the pi_value object
type(pi_value)

The variable `text` is of type `str`, short for “string”. Strings hold sequences of characters, which can be letters, numbers, punctuation or more exotic forms of text (even emoji!).

We can also see the value of something using another built-in function, `print`:

In [15]:
print(text)

Data Carpentry

In [16]:
print(number)

42

This may seem redundant, but in fact it’s the only way to display output in a script.

Tip: `print` and `type` are built-in functions in Python.

### Operators
We can perform mathematical calculations in Python using the basic operators +, -, /, *, %:

In [17]:
2 + 2  # Addition

4

In [18]:
6 * 7  # Multiplication

42

In [19]:
2 ** 16  # Power

65536

In [20]:
13 % 5  # Modulo

3

We can also use comparison and logic operators: <, >, ==, !=, <=, >= and statements of identity such as and, or, not. The data type returned by this is called a boolean.

In [21]:
3 > 4

False

In [22]:
True and True

True

In [23]:
True or False

True

In [24]:
True and False

False

------------------------------------------------------
# SLIDES
------------------------------------------------------

# Getting help

In [25]:
x = 20
help(x)

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [26]:
# Display all of the available methods (functions) that are built into a data object
dir(text)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

------------------------------------------------------
# SLIDES
------------------------------------------------------

## Sequences: Lists and Tuples

### Lists
Lists are a common data structure to hold an ordered sequence of elements. Each element can be accessed by an index. Note that Python indexes start with 0 instead of 1:

In [27]:
numbers = [1, 2, 3]
numbers[0]

1

In [28]:
# Indentation is very important in Python.
for num in numbers:
    print(num)

1
2
3

To add elements to the end of a list, we can use the append method.

In [29]:
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

To find out what methods are available for an object, we can use the built-in help command:

In [30]:
help(numbers)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Tuples
A tuple is similar to a list in that it’s an ordered sequence of elements. However, tuples can not be changed once created (they are “immutable”). Tuples are created by placing comma-separated values inside parentheses ().

In [31]:
# Tuples use parentheses
a_tuple = (1, 2, 3)
another_tuple = ('blue', 'green', 'red')

# Note: lists use square brackets
a_list = [1, 2, 3]

---------------------------------
# CHALLENGE 1
---------------------------------

## Dictionaries

A dictionary is a container that holds pairs of objects - keys and values.

In [32]:
translation = {'one': 'first', 'two': 'second'}
translation['one']

'first'

Dictionaries work a lot like lists - except that you index them with keys. You can think about a key as a name or unique identifier for the value it corresponds to.

In [33]:
rev = {'first': 'one', 'second': 'two'}
rev['first']

'one'

To add an item to the dictionary we assign a value to a new key:

In [34]:
rev['third'] = 'three'
rev

{'first': 'one', 'second': 'two', 'third': 'three'}

Using for loops with dictionaries is a little more complicated. We can do this in two ways:

In [35]:
for key, value in rev.items():
    print(key, '->', value)

first -> one
second -> two
third -> three

In [36]:
for key in rev.keys():
    print(key, '->', rev[key])

first -> one
second -> two
third -> three

---------------------------------
# CHALLENGE 2
---------------------------------

## Functions

Defining a section of code as a function in Python is done using the def keyword. For example a function that takes two arguments and returns their sum can be defined as:

In [38]:
def add_function(a, b):
    result = a + b
    return result

z = add_function(20, 22)
print(z)

42

## Working With Pandas DataFrames in Python

### About Libraries
A library in Python contains a set of tools (called functions) that perform tasks on our data. Importing a library is like getting a piece of lab equipment out of a storage locker and setting it up on the bench for use in a project. Once a library is set up, it can be used or called to perform the task(s) it was built to do.

One of the best options for working with tabular data in Python is to use the Python Data Analysis Library (a.k.a. Pandas).

In [37]:
import pandas as pd

### Reading CSV Data Using Pandas

We can use Pandas’ read_csv function to pull the file directly into a DataFrame.

A DataFrame is a 2-dimensional data structure that can store data of different types (including strings, numbers, categories and more) in columns.

In [39]:
# Note that pd.read_csv is used because we imported pandas as pd
pd.read_csv("tmdb-movies.csv")
# The first column is the index of the DataFrame. 
# The index is used to identify the position of the data, 
# but it is not an actual column of the DataFrame.

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,24452,tt0054033,0.225218,30000,0,The Little Shop of Horrors,Jackie Joseph|Mel Welles|Jack Nicholson|Leola ...,NaN,Roger Corman,The funniest picture of the year!,...,Black comedy about a young man who creates a c...,70,Comedy,Santa Clara Productions,9/14/60,23,6.0,1960,2.211890e+05,0.000000e+00
1,15788,tt0053644,0.114188,0,10000000,The Bellboy,Jerry Lewis|Alex Gerry|Bob Clayton|Sonnie Sand...,NaN,Jerry Lewis,It's a Series of Silly Sequences and One of Je...,...,Stanley is a bellboy at the Fountainbleau Hote...,72,Comedy|Family,Paramount Pictures|Jerry Lewis Productions,7/20/60,12,7.0,1960,0.000000e+00,7.372967e+07
2,1673,tt0053729,0.267118,0,0,Comanche Station,Randolph Scott|Nancy Gates|Skip Homeier|Dyke J...,NaN,Budd Boetticher,The One-Man War Against The Comancheros!,...,A man saves a woman who had been kidnapped by ...,73,Action|Western,Columbia Pictures Corporation|Ranown Pictures ...,3/1/60,12,6.5,1960,0.000000e+00,0.000000e+00
3,39890,tt0053719,0.065808,0,0,The City of the Dead,Christopher Lee|Dennis Lotis|Patricia Jessel|T...,NaN,John Llewellyn Moxey,300 years old! Human blood keeps them alive fo...,...,A young coed (Nan Barlow) uses her winter vaca...,76,Horror,Vulcan Productions Inc.,9/9/60,13,6.1,1960,0.000000e+00,0.000000e+00
4,11773,tt0054443,0.127219,200000,0,Village of the Damned,George Sanders|Barbara Shelley|Martin Stephens...,NaN,Wolf Rilla,What Demonic Force Lurks Behind Those Eyes?,...,In a small English village everyone suddenly f...,77,Horror|Science Fiction,Metro-Goldwyn-Mayer (MGM),7/1/60,28,7.0,1960,1.474593e+06,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10820,273248,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,http://thehatefuleight.com/,Quentin Tarantino,No one comes up here without a damn good reason.,...,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/15,2389,7.4,2015,4.047998e+07,1.432992e+08
10821,371758,tt3581932,0.112284,0,0,And Then There Were None,Maeve Dermody|Aidan Turner|Charles Dance|Dougl...,http://www.bbc.co.uk/programmes/b06v2v52,Craig Viveiros,Agatha Christie's darkest thriller,...,"Ten strangers, drawn away from their normal li...",168,Mystery|Drama,British Broadcasting Corporation (BBC)|Mammoth...,12/26/15,37,7.7,2015,0.000000e+00,0.000000e+00
10822,321640,tt4299972,0.033378,0,0,The Jinx: The Life and Deaths of Robert Durst,Robert Durst|Andrew Jarecki|Marc Smerling|Zach...,NaN,Andrew Jarecki,Four Decades. Three Murders. And One Very Rich...,...,"Robert Durst, scion of one of New Yorkâ€™s bil...",240,Documentary,Blumhouse Productions|Hit the Ground Running F...,2/8/15,72,8.4,2015,0.000000e+00,0.000000e+00
10823,373977,tt4146128,0.031635,0,0,Childhood's End,Mike Vogel|Osy Ikhile|Daisy Betts|Georgina Hai...,NaN,Nick Hurran,NaN,...,"After peaceful aliens invade earth, humanity f...",246,Thriller|TV Movie|Science Fiction|Drama,NaN,12/14/15,21,6.2,2015,0.000000e+00,0.000000e+00
10824,340968,tt2492296,0.249595,0,0,Show Me a Hero,Oscar Isaac|Alfred Molina|Winona Ryder|Catheri...,NaN,Paul Haggis,How does a politician know he's doing the righ...,...,Mayor Nick Wasicsko took office in 1987 during...,300,History|Crime|Drama,NaN,8/16/15,32,7.7,2015,0.000000e+00,0.000000e+00

------------------------------------------------------
# SLIDES
------------------------------------------------------

We need to save the data to memory so we can work with it.
To do that, we need to assign the DataFrame to a variable.

In [40]:
# Save data to memory
my_data = pd.read_csv("tmdb-movies.csv")

In [41]:
# View the data object
my_data

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,24452,tt0054033,0.225218,30000,0,The Little Shop of Horrors,Jackie Joseph|Mel Welles|Jack Nicholson|Leola ...,NaN,Roger Corman,The funniest picture of the year!,...,Black comedy about a young man who creates a c...,70,Comedy,Santa Clara Productions,9/14/60,23,6.0,1960,2.211890e+05,0.000000e+00
1,15788,tt0053644,0.114188,0,10000000,The Bellboy,Jerry Lewis|Alex Gerry|Bob Clayton|Sonnie Sand...,NaN,Jerry Lewis,It's a Series of Silly Sequences and One of Je...,...,Stanley is a bellboy at the Fountainbleau Hote...,72,Comedy|Family,Paramount Pictures|Jerry Lewis Productions,7/20/60,12,7.0,1960,0.000000e+00,7.372967e+07
2,1673,tt0053729,0.267118,0,0,Comanche Station,Randolph Scott|Nancy Gates|Skip Homeier|Dyke J...,NaN,Budd Boetticher,The One-Man War Against The Comancheros!,...,A man saves a woman who had been kidnapped by ...,73,Action|Western,Columbia Pictures Corporation|Ranown Pictures ...,3/1/60,12,6.5,1960,0.000000e+00,0.000000e+00
3,39890,tt0053719,0.065808,0,0,The City of the Dead,Christopher Lee|Dennis Lotis|Patricia Jessel|T...,NaN,John Llewellyn Moxey,300 years old! Human blood keeps them alive fo...,...,A young coed (Nan Barlow) uses her winter vaca...,76,Horror,Vulcan Productions Inc.,9/9/60,13,6.1,1960,0.000000e+00,0.000000e+00
4,11773,tt0054443,0.127219,200000,0,Village of the Damned,George Sanders|Barbara Shelley|Martin Stephens...,NaN,Wolf Rilla,What Demonic Force Lurks Behind Those Eyes?,...,In a small English village everyone suddenly f...,77,Horror|Science Fiction,Metro-Goldwyn-Mayer (MGM),7/1/60,28,7.0,1960,1.474593e+06,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10820,273248,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,http://thehatefuleight.com/,Quentin Tarantino,No one comes up here without a damn good reason.,...,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/15,2389,7.4,2015,4.047998e+07,1.432992e+08
10821,371758,tt3581932,0.112284,0,0,And Then There Were None,Maeve Dermody|Aidan Turner|Charles Dance|Dougl...,http://www.bbc.co.uk/programmes/b06v2v52,Craig Viveiros,Agatha Christie's darkest thriller,...,"Ten strangers, drawn away from their normal li...",168,Mystery|Drama,British Broadcasting Corporation (BBC)|Mammoth...,12/26/15,37,7.7,2015,0.000000e+00,0.000000e+00
10822,321640,tt4299972,0.033378,0,0,The Jinx: The Life and Deaths of Robert Durst,Robert Durst|Andrew Jarecki|Marc Smerling|Zach...,NaN,Andrew Jarecki,Four Decades. Three Murders. And One Very Rich...,...,"Robert Durst, scion of one of New Yorkâ€™s bil...",240,Documentary,Blumhouse Productions|Hit the Ground Running F...,2/8/15,72,8.4,2015,0.000000e+00,0.000000e+00
10823,373977,tt4146128,0.031635,0,0,Childhood's End,Mike Vogel|Osy Ikhile|Daisy Betts|Georgina Hai...,NaN,Nick Hurran,NaN,...,"After peaceful aliens invade earth, humanity f...",246,Thriller|TV Movie|Science Fiction|Drama,NaN,12/14/15,21,6.2,2015,0.000000e+00,0.000000e+00
10824,340968,tt2492296,0.249595,0,0,Show Me a Hero,Oscar Isaac|Alfred Molina|Winona Ryder|Catheri...,NaN,Paul Haggis,How does a politician know he's doing the righ...,...,Mayor Nick Wasicsko took office in 1987 during...,300,History|Crime|Drama,NaN,8/16/15,32,7.7,2015,0.000000e+00,0.000000e+00

In [42]:
# View the first few lines
my_data.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,24452,tt0054033,0.225218,30000,0,The Little Shop of Horrors,Jackie Joseph|Mel Welles|Jack Nicholson|Leola ...,NaN,Roger Corman,The funniest picture of the year!,...,Black comedy about a young man who creates a c...,70,Comedy,Santa Clara Productions,9/14/60,23,6.0,1960,2.211890e+05,0.000000e+00
1,15788,tt0053644,0.114188,0,10000000,The Bellboy,Jerry Lewis|Alex Gerry|Bob Clayton|Sonnie Sand...,NaN,Jerry Lewis,It's a Series of Silly Sequences and One of Je...,...,Stanley is a bellboy at the Fountainbleau Hote...,72,Comedy|Family,Paramount Pictures|Jerry Lewis Productions,7/20/60,12,7.0,1960,0.000000e+00,7.372967e+07
2,1673,tt0053729,0.267118,0,0,Comanche Station,Randolph Scott|Nancy Gates|Skip Homeier|Dyke J...,NaN,Budd Boetticher,The One-Man War Against The Comancheros!,...,A man saves a woman who had been kidnapped by ...,73,Action|Western,Columbia Pictures Corporation|Ranown Pictures ...,3/1/60,12,6.5,1960,0.000000e+00,0.000000e+00
3,39890,tt0053719,0.065808,0,0,The City of the Dead,Christopher Lee|Dennis Lotis|Patricia Jessel|T...,NaN,John Llewellyn Moxey,300 years old! Human blood keeps them alive fo...,...,A young coed (Nan Barlow) uses her winter vaca...,76,Horror,Vulcan Productions Inc.,9/9/60,13,6.1,1960,0.000000e+00,0.000000e+00
4,11773,tt0054443,0.127219,200000,0,Village of the Damned,George Sanders|Barbara Shelley|Martin Stephens...,NaN,Wolf Rilla,What Demonic Force Lurks Behind Those Eyes?,...,In a small English village everyone suddenly f...,77,Horror|Science Fiction,Metro-Goldwyn-Mayer (MGM),7/1/60,28,7.0,1960,1.474593e+06,0.000000e+00

In [43]:
# View object type
type(my_data)

pandas.core.frame.DataFrame

In [44]:
# View shape (dimensions)
my_data.shape

(10825, 21)

In [45]:
# View data types
my_data.dtypes
# All the values in a single column have the same type.
# Some columns cannot contain fractional values
# The object type represents strings

id                        int64
imdb_id                  object
popularity              float64
budget                    int64
revenue                   int64
original_title           object
cast                     object
homepage                 object
director                 object
tagline                  object
keywords                 object
overview                 object
runtime                   int64
genres                   object
production_companies     object
release_date             object
vote_count                int64
vote_average            float64
release_year              int64
budget_adj              float64
revenue_adj             float64
dtype: object

In [46]:
# View info
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10825 entries, 0 to 10824
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10825 non-null  int64
 1   imdb_id               10815 non-null  object
 2   popularity            10825 non-null  float64
 3   budget                10825 non-null  int64
 4   revenue               10825 non-null  int64
 5   original_title        10825 non-null  object
 6   cast                  10749 non-null  object
 7   homepage              2923 non-null   object
 8   director              10781 non-null  object
 9   tagline               8012 non-null   object
 10  keywords              9338 non-null   object
 11  overview              10821 non-null  object
 12  runtime               10825 non-null  int64
 13  genres                10802 non-null  object
 14  production_companies  9804 non-null   object
 15  release_date          10825 non-null  object
 16  vote_count            10825 non-null  int64
 17  vote_average          10825 non-null  float64
 18  release_year          10825 non-null  int64
 19  budget_adj            10825 non-null  float64
 20  revenue_adj           10825 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [ ]:
# Calculate summary statistics for all numeric columns
my_data['original_title']

In [ ]:
my_data[my_data['original_title']=='The Bellboy']['original_title'].count()

There are many ways to summarize and access the data stored in DataFrames, using attributes and methods provided by the DataFrame object.

Attributes are features of an object.

Methods are like functions, but they only work on particular kinds of objects. With a method, we can supply extra information in the parentheses to control behaviour.

---------------------------------
# CHALLENGE 3
---------------------------------

Let’s perform some quick summary statistics to learn more about the data that we’re working with.

In [47]:
# View columns
my_data.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [59]:
my_data['director']

0                Roger Corman
1                 Jerry Lewis
2             Budd Boetticher
3        John Llewellyn Moxey
4                  Wolf Rilla
                 ...
10820       Quentin Tarantino
10821          Craig Viveiros
10822          Andrew Jarecki
10823             Nick Hurran
10824             Paul Haggis
Name: director, Length: 10825, dtype: object

In [58]:
# View unique directors

# Option 1
pd.unique(my_data['director'])

array(['Roger Corman', 'Jerry Lewis', 'Budd Boetticher', ...,
       'Brett Morgen', 'Charles de Lauzirika', 'Karan Malhotra'],
      dtype=object)

In [60]:
# Option 2
director_names = my_data['director']
unique_directors = pd.unique(director_names)
number_unique_directors = len(unique_directors)
print(number_unique_directors)

5051

---------------------------------
# CHALLENGE 4
---------------------------------

------------------------------------------------------
# SLIDES
------------------------------------------------------

## Groups in Pandas

We often want to calculate summary statistics grouped by subsets or attributes within fields of our data.

We can calculate basic statistics for all records in a single column using the syntax below:

In [ ]:
my_data['revenue'].describe()

We can also extract one specific metric if we wish:

In [ ]:
my_data['revenue'].min()
my_data['revenue'].max()
my_data['revenue'].mean()
my_data['revenue'].std()
my_data['revenue'].count()

But if we want to summarize by one or more variables, we can use Pandas’ `.groupby` method.

In [61]:
# Group data by director
grouped_data = my_data.groupby('director')

In [63]:
# Summary statistics for all numeric columns by director
grouped_data.describe()

                              id                                         \
                           count           mean           std       min
director
 FrÃ©dÃ©ric Jardin           1.0   79070.000000           NaN   79070.0
A. Todd Smith                1.0  370687.000000           NaN  370687.0
A.R. Murugadoss              1.0   14070.000000           NaN   14070.0
Aaron Aites                  1.0   36124.000000           NaN   36124.0
Aaron Blaise|Robert Walker   1.0   10009.000000           NaN   10009.0
...                          ...            ...           ...       ...
Ã‡aÄŸan Irmak                1.0   13393.000000           NaN   13393.0
Ã‰mile Gaudreault            1.0     321.000000           NaN     321.0
Ã‰ric Besnard                1.0   52349.000000           NaN   52349.0
Ã‰tienne Chatiliez           3.0   16637.333333  23387.627548    2029.0
Ã€lex Pastor|David Pastor    1.0   25769.000000           NaN   25769.0

                                                                   popularity  \
                                 25%       50%       75%       max      count
director
 FrÃ©dÃ©ric Jardin           79070.0   79070.0   79070.0   79070.0        1.0
A. Todd Smith               370687.0  370687.0  370687.0  370687.0        1.0
A.R. Murugadoss              14070.0   14070.0   14070.0   14070.0        1.0
Aaron Aites                  36124.0   36124.0   36124.0   36124.0        1.0
Aaron Blaise|Robert Walker   10009.0   10009.0   10009.0   10009.0        1.0
...                              ...       ...       ...       ...        ...
Ã‡aÄŸan Irmak                13393.0   13393.0   13393.0   13393.0        1.0
Ã‰mile Gaudreault              321.0     321.0     321.0     321.0        1.0
Ã‰ric Besnard                52349.0   52349.0   52349.0   52349.0        1.0
Ã‰tienne Chatiliez            3150.0    4271.0   23941.5   43612.0        3.0
Ã€lex Pastor|David Pastor    25769.0   25769.0   25769.0   25769.0        1.0

                                      ...    budget_adj                \
                                mean  ...           75%           max
director                              ...
 FrÃ©dÃ©ric Jardin          0.434506  ...  2.423495e+06  2.423495e+06
A. Todd Smith               1.876037  ...  0.000000e+00  0.000000e+00
A.R. Murugadoss             0.215030  ...  9.216358e+06  9.216358e+06
Aaron Aites                 0.108700  ...  0.000000e+00  0.000000e+00
Aaron Blaise|Robert Walker  1.653031  ...  1.185353e+08  1.185353e+08
...                              ...  ...           ...           ...
Ã‡aÄŸan Irmak               0.265008  ...  0.000000e+00  0.000000e+00
Ã‰mile Gaudreault           0.276911  ...  5.170387e+06  5.170387e+06
Ã‰ric Besnard               0.081724  ...  0.000000e+00  0.000000e+00
Ã‰tienne Chatiliez          0.102346  ...  9.562436e+06  1.912487e+07
Ã€lex Pastor|David Pastor   0.619369  ...  0.000000e+00  0.000000e+00

                           revenue_adj                                   \
                                 count          mean  std           min
director
 FrÃ©dÃ©ric Jardin                 1.0  3.255239e+03  NaN  3.255239e+03
A. Todd Smith                      1.0  0.000000e+00  NaN  0.000000e+00
A.R. Murugadoss                    1.0  7.697178e+07  NaN  7.697178e+07
Aaron Aites                        1.0  0.000000e+00  NaN  0.000000e+00
Aaron Blaise|Robert Walker         1.0  2.963382e+02  NaN  2.963382e+02
...                                ...           ...  ...           ...
Ã‡aÄŸan Irmak                      1.0  0.000000e+00  NaN  0.000000e+00
Ã‰mile Gaudreault                  1.0  3.593753e+06  NaN  3.593753e+06
Ã‰ric Besnard                      1.0  0.000000e+00  NaN  0.000000e+00
Ã‰tienne Chatiliez                 3.0  0.000000e+00  0.0  0.000000e+00
Ã€lex Pastor|David Pastor          1.0  5.897584e+06  NaN  5.897584e+06

                                                                      \
                                     25%           50%           75%
director
 FrÃ©dÃ©ric Jardin          3.255239e+03  3.255239e+03  3.255239e+03
A. Todd Smith               0.000000e+00  0.000000e+00  0.000000e+00
A.R. Murugadoss             7.697178e+07  7.697178e+07  7.697178e+07
Aaron Aites                 0.000000e+00  0.000000e+00  0.000000e+00
Aaron Blaise|Robert Walker  2.963382e+02  2.963382e+02  2.963382e+02
...                                  ...           ...           ...
Ã‡aÄŸan Irmak               0.000000e+00  0.000000e+00  0.000000e+00
Ã‰mile Gaudreault           3.593753e+06  3.593753e+06  3.593753e+06
Ã‰ric Besnard               0.000000e+00  0.000000e+00  0.000000e+00
Ã‰tienne Chatiliez          0.000000e+00  0.000000e+00  0.000000e+00
Ã€lex Pastor|David Pastor   5.897584e+06  5.897584e+06  5.897584e+06


                                     max
director
 FrÃ©dÃ©ric Jardin          3.255239e+03
A. Todd Smith               0.000000e+00
A.R. Murugadoss             7.697178e+07
Aaron Aites                 0.000000e+00
Aaron Blaise|Robert Walker  2.963382e+02
...                                  ...
Ã‡aÄŸan Irmak               0.000000e+00
Ã‰mile Gaudreault           3.593753e+06
Ã‰ric Besnard               0.000000e+00
Ã‰tienne Chatiliez          0.000000e+00
Ã€lex Pastor|David Pastor   5.897584e+06

[5050 rows x 80 columns]

In [64]:
# Provide the mean for each numeric column by director
grouped_data.mean(numeric_only=True)

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
director,,,,,,,,,,
FrÃ©dÃ©ric Jardin,79070.000000,0.434506,2500000.0,3358.0,98.000000,28.000000,5.9,2011.000000,2.423495e+06,3.255239e+03
A. Todd Smith,370687.000000,1.876037,0.0,0.0,0.000000,11.000000,5.4,2015.000000,0.000000e+00,0.000000e+00
A.R. Murugadoss,14070.000000,0.215030,9100000.0,76000000.0,183.000000,53.000000,6.9,2008.000000,9.216358e+06,7.697178e+07
Aaron Aites,36124.000000,0.108700,0.0,0.0,93.000000,13.000000,6.5,2008.000000,0.000000e+00,0.000000e+00
Aaron Blaise|Robert Walker,10009.000000,1.653031,100000000.0,250.0,85.000000,753.000000,6.8,2003.000000,1.185353e+08,2.963382e+02
...,...,...,...,...,...,...,...,...,...,...
Ã‡aÄŸan Irmak,13393.000000,0.265008,0.0,0.0,108.000000,12.000000,8.2,2005.000000,0.000000e+00,0.000000e+00
Ã‰mile Gaudreault,321.000000,0.276911,4361898.0,3031801.0,92.000000,13.000000,5.2,2003.000000,5.170387e+06,3.593753e+06
Ã‰ric Besnard,52349.000000,0.081724,0.0,0.0,100.000000,10.000000,5.1,2010.000000,0.000000e+00,0.000000e+00
Ã‰tienne Chatiliez,16637.333333,0.102346,4455000.0,0.0,101.333333,24.666667,6.7,1994.666667,6.374957e+06,0.000000e+00
Ã€lex Pastor|David Pastor,25769.000000,0.619369,0.0,5802422.0,84.000000,143.000000,5.7,2009.000000,0.000000e+00,5.897584e+06

---------------------------------
# CHALLENGE 5
---------------------------------

Let’s next count the number of movies for each year. We’ll use `groupby` combined with a `count()` method.

In [ ]:
movie_counts = my_data.groupby('release_year')['id'].count()
print(movie_counts)

We can also count just the rows that have the genre "Thriller":

In [ ]:
my_data.groupby('genres')['release_year'].count()['Thriller']

## Quick & Easy Plotting Data Using Pandas

We can plot our summary stats using Pandas, too.

In [ ]:
# Make sure figures appear inline in Ipython Notebook
%matplotlib inline
# Create a quick bar chart
movie_counts.plot(kind='bar');
# The ; just removes the object type displayed at the top

---------------------------------
# CHALLENGE 6
---------------------------------

------------------------------------------------------
# SLIDES
------------------------------------------------------

## Indexing and Slicing in Python

We often want to work with subsets of a DataFrame object. There are different ways to accomplish this including: using labels (column headings), numeric ranges, or specific x,y index locations.

### Selecting data using Labels (Column Headings)

We use square brackets [] to select a subset of a Python object.

In [ ]:
# TIP: use the .head() method we saw earlier to make output shorter
# Method 1: select a 'subset' of the data using the column name
my_data['original_title'].head()

# Method 2: use the column name as an 'attribute'; gives the same output
my_data.original_title.head()

We can also create a new object that contains only the data within the `original_title` column as follows:

In [ ]:
# Creates an object, movie_titles, that only contains the `original_title` column
movie_titles = my_data['original_title']

We can pass a list of column names too, as an index to select columns in that order. This is useful when we need to reorganize our data.

In [ ]:
# Select the director and release_year columns from the DataFrame
my_data[['director', 'release_year']]

# What happens when you flip the order?
my_data[['release_year', 'director']]

# What happens if you ask for a column that doesn't exist?
my_data['rating']

### Extracting Range based Subsets: Slicing

Python uses 0-based indexing. This means that the first element in an object is located at position 0.

In [ ]:
# Create a list of numbers
a = [1, 2, 3, 4, 5]

In [ ]:
# Indexing: getting a specific element
a[2]

In [ ]:
# Slicing: selecting a set of elements
a[1:3]

---------------------------------
# CHALLENGE 7
---------------------------------

## Slicing Subsets of Rows and Columns

Slicing using the `[]` operator selects a set of rows and/or columns from a DataFrame. To slice out a set of rows, you use the following syntax: `data[start:stop]`.

When slicing in pandas the start bound is included in the output. The stop bound is one step BEYOND the row you want to select. So if you want to select rows 0, 1 and 2 your code would look like this:

In [ ]:
# Select rows 0, 1, 2 (row 3 is not selected)
my_data[0:3]

# Select the first 5 rows (rows 0, 1, 2, 3, 4)
my_data[:5]

# Select the last element in the list
# (the slice starts at the last element, and ends at the end of the list)
my_data[-1:]

## Copying Objects vs Referencing Objects

In [ ]:
# Using the 'copy() method'
true_copy_data = my_data.copy()

# Using the '=' operator
ref_data = my_data

# If you change any values in `ref_data`,
# it will also change in `my_data`.

## Subsetting Data using Criteria

We can select specific ranges of our data in both the row and column directions using either label or integer-based indexing.

`iloc` is primarily an integer-based indexing counting from 0. That is, you specify rows and columns giving a number. Thus, the first row is row 0, the second column is column 1, etc.

`loc` is primarily a label-based indexing where you can refer to rows and columns by their name. E.g., column `year`. Note that integers may be used, but they are interpreted as a label.

In [ ]:
# iloc[row slicing, column slicing]
my_data.iloc[0:3, 1:4]

# This yielded 3 rows of data. When you ask for 0:3, 
# you are actually telling Python to start at index 0 
# and select rows 0, 1, 2 up to but not including 3.

In [ ]:
# loc[row slicing, column slicing]
my_data.loc[0:3, 1:4]
# This gives an error, because pandas can't find 
# columns named "1", "2", "3", or "4".

When using `loc`, integers can be used, but the integers refer to the index label and not the position. For example, using `loc` and select 1:4 will get a different result than using `iloc` to select rows 1:4.

In [ ]:
my_data.loc[0:3, ['imdb_id', 'popularity', 'budget']]
# We have to use LABELS with LOC.
# But do you see the difference in the number of rows? 
# It extract the rows at index 0,1,2 AND 3, because it's using the
# index as a LABEL, and not using it as a positional argument.

# And remember that the start and stop bounds of loc are included.

In [ ]:
# Select all columns for rows of index values 0 and 10
my_data.loc[[0, 10], :]

# With loc, both the start bound and the stop bound are inclusive.

In [ ]:
# What does this do?
my_data.loc[0, ['release_year', 'director', 'budget']]

# Note that labels must be found in the DataFrame or you will get a KeyError.

In [ ]:

# What happens when you type the code below?
my_data.loc[[0, 10, 3549], :]

# With loc, both the start bound and the stop bound are inclusive.

We can also select a specific data value using a row and column location within the DataFrame and iloc indexing:

Syntax for iloc indexing to finding a specific data element:

`data.iloc[row, column]`

## Subsetting Data using Criteria

We can also select a subset of our data using criteria. Let's select all the movies that were released in 2005.

In [ ]:
my_data[my_data.release_year == 2005]

Or we can select all rows that do not contain the year 2005:

In [ ]:
# Option 1
my_data[my_data != 2005]

# Option 2
my_data[~(my_data == 2005)]

We can define sets of criteria too:

In [ ]:
my_data[(my_data.release_year >= 2000) & (my_data.release_year <= 2005)]

---------------------------------
# CHALLENGE 8
---------------------------------

## Using masks to identify a specific condition

A mask can be useful to locate where a particular subset of values exist or don’t exist - for example, NaN, or “Not a Number” values. To understand masks, we also need to understand BOOLEAN objects in Python.

Boolean values include `True` or `False`. For example:

In [ ]:
# Set x to 5
x = 5

In [ ]:
# What does the code below return?
x > 5

In [ ]:
# How about this?
x == 5

# Missing data

In [ ]:
import pandas as pd
my_data_missing = pd.read_csv("data/tmdb-movies-missing.csv")

Let’s try this out. Let’s identify all locations in the data that have null (missing or NaN) data values. We can use the `isnull` method to do this. The `isnull` method will compare each cell with a null value. If an element has a null value, it will be assigned a value of `True` in the output object.

In [ ]:
pd.isnull(my_data_missing)

To select the rows where there are null values, we can use the mask as an index to subset our data as follows:

In [ ]:
# To select just the rows with NaN values, we can use the 'any()' method

my_data_missing[pd.isnull(my_data_missing).any(axis=1)]
# axis=1 means that it checks across each row.

We can run `isnull` on a particular column too. What does the code below do?

In [ ]:
# What does this do?
missing_titles = my_data_missing[pd.isnull(my_data_missing['original_title'])]
print(missing_titles)

# We are asking Python to select rows that have a NaN value of title, i.e. missing titles.b

Let's extract the homepages for the movies with missing titles:

In [ ]:
missing_titles['homepage']

# You can visit the homepages to get the movie titles.

## Checking the format of our data

The format of individual columns and rows will impact analysis performed on a dataset read into a pandas DataFrame. For example, you can’t perform mathematical calculations on a string (text formatted data).

- Every value has a type.
- Use the built-in function type to find the type of a value.
- Types control what operations can be done on values.
- Strings can be added and multiplied.
- Strings have a length (but numbers don’t).
- Must convert numbers to strings or vice versa when operating on them.
- Can mix integers and floats freely in operations.

### Types of Data

In [ ]:
my_data.dtypes

In [ ]:
my_data['director'].dtype

# A type "O" stands for "object", i.e. string/text

## Working With Integers and Floats

If we divide one integer by another, we get a float.

In [ ]:
print(5/9)

We can also convert a floating point number to an integer or an integer to floating point number. Notice that Python by default rounds down when it converts from floating point to integer.

In [ ]:
# Convert a to an integer
a = 7.83
int(a)

In [ ]:
# Convert b to a float
b = 7
float(b)

## Working With Our Movies Data

In [ ]:
# Convert the id field from an integer to a float
my_data['id'] = my_data['id'].astype('float64')
my_data['id'].dtype

---------------------------------
# CHALLENGE 9
---------------------------------

## Missing Data Values - NaN

NaN (Not a Number) values are undefined values that cannot be represented mathematically. pandas, for example, will read an empty cell in a CSV or Excel sheet as NaN.

NaNs have some desirable properties: if we were to average the `budget` column without replacing our NaNs, Python would know to skip over those cells.

In [ ]:
my_data_missing['budget'].mean()

Dealing with missing data values is always a challenge.

It’s sometimes hard to know why values are missing:
- Was it because of a data entry error?
- Or data that someone was unable to collect?
- Should the value be 0? 

We need to know how missing values are represented in the dataset in order to make good decisions. If we’re lucky, we have some metadata that will tell us more about how null values were handled.

We can figure out how many rows contain NaN values for `popularity`. We can also create a new subset from our data that only contains rows with popularity > 0 (i.e., select meaningful values):

In [ ]:
len(my_data_missing[my_data_missing['popularity'].isna()])

# How many rows have popularity values?
len(my_data_missing[my_data_missing['popularity'] > 0])

We can replace all `NaN` values with zeroes using the .`fillna()` method (after making a copy of the data so we don’t lose our work):

In [ ]:
df1 = my_data_missing.copy()
# Fill all NaN values with 0
df1['popularity'] = df1['popularity'].fillna(0)

However NaN and 0 yield different analysis results. The mean value when NaN values are replaced with 0 is different from when NaN values are simply thrown out or ignored.

In [ ]:
df1['popularity'].mean()

We can fill NaN values with any value that we chose. The code below fills all NaN values with a mean for all popularity values.

In [ ]:
df1['popularity'] = df1['popularity'].fillna(df1['popularity'].mean())

---------------------------------
# CHALLENGE 10
---------------------------------

## Writing Out Data to CSV

First, let’s reload the data so we’re not mixing up all of our previous manipulations.

In [ ]:
my_data = pd.read_csv("data/tmdb-movies.csv")

Let’s drop all the rows that contain missing values. We will use the command `dropna`. By default, `dropna` removes rows that contain missing data for even just one column.

In [ ]:
df_na = my_data.dropna()

# Note: If you want to drop rows with missing values in a specific column:
df_na = my_data.dropna(subset=['popularity'])

Export a DataFrame in CSV format and save it in the `data_output` directory.

In [ ]:
# Write DataFrame to CSV
df_na.to_csv('data_output/movies_complete.csv', index=False)

------------------------------------------------------
# SLIDES
------------------------------------------------------

# Concatenating DataFrames

We often need to combine data files into a single DataFrame to analyze the data.

We can use the `concat` function in pandas to append either columns or rows from one DataFrame to another.

In [ ]:
# Read in first 10 lines of table
data_sub = my_data.head(10)

# Grab the last 10 rows
data_sub_last10 = my_data.tail(10)

# Reset the index values to the second dataframe appends properly
data_sub_last10 = data_sub_last10.reset_index(drop=True)

# drop=True option avoids adding new index column with old index values

When we concatenate DataFrames, we need to specify the axis:
- `axis=0` will stack the second DataFrame UNDER the first one. Columns need to have the same name and data types.
- `axis=1` will stack the columns in the second DataFrame to the RIGHT of the first DataFrame. Rows need to be related.

In [ ]:
# Stack the DataFrames on top of each other
vertical_stack = pd.concat([data_sub, data_sub_last10], axis=0)
vertical_stack

# Note that the row indexes for the two dataframes have been repeated.

In [ ]:
# Reindex the new DataFrame using the reset_index() method
vertical_stack = vertical_stack.reset_index(drop=True)

In [ ]:
# Write DataFrame to CSV
vertical_stack.to_csv('data_output/out.csv', index=False)

In [ ]:
# Place the DataFrames side by side
horizontal_stack = pd.concat([data_sub, data_sub_last10], axis=1)
horizontal_stack

## Joining DataFrames

When we concatenated our DataFrames, we simply added them to each other - stacking them either vertically or side by side. Another way to combine DataFrames is to use columns in each dataset that contain common values (a common unique identifier).

The columns containing the common values are called “join key(s)”. Joining DataFrames in this way is often useful when one DataFrame is a “lookup table” containing additional data that we want to include in the other.

### Import multiple data files

Many functions in Python have a set of options that can be set by the user if needed. Let's tell pandas to assign empty values in our CSV to NaN with the parameters `keep_default_na=False` and `na_values=[""]`.

In [ ]:
movies = pd.read_csv("data/movies.csv",
                   keep_default_na=False,
                   na_values=[""])

movies.head()

In [ ]:
ratings = pd.read_csv("data/ratings.csv",
                   keep_default_na=False,
                   na_values=[""])

ratings

### Identifying join keys

In [ ]:
movies.columns

In [ ]:
ratings.columns

In our example, the join key is the `movieId` column.

### Types of joins

#### Inner join
- Returns a new DataFrame that contains only those rows that have matching values in both of the original DataFrames.
- `merged_inner = pd.merge(left=df1, right=df2, left_on='col1', right_on='col2')`

#### Left join
- Returns all of the rows from the left DataFrame, even those rows whose join key(s) do not have values in the right DataFrame.
- `merged_left = pd.merge(left=df1, right=df2, how='left', left_on='col1', right_on='col2')`

#### Right join
- Returns all of the rows from the right DataFrame, even those rows whose join key(s) do not have values in the left DataFrame.
- `merged_right = pd.merge(left=df1, right=df2, how='right', left_on='col1', right_on='col2')`

#### Full (outer) join
- Returns all pairwise combinations of rows from both DataFrames.
- `merged_outer = pd.merge(left=df1, right=df2, how='outer', left_on='col1', right_on='col2')`

In [ ]:
# Inner join

# Option 1
merged_inner = pd.merge(left=movies, right=ratings, left_on='movieId', right_on='movieId')

# Option 2
merged_inner = pd.merge(left=movies, right=ratings, on='movieId')

merged_inner

In [ ]:
# Left join
merged_left = pd.merge(left=movies, right=ratings, on='movieId', how='left')
merged_left

In [ ]:
# Right join
merged_right = pd.merge(left=movies, right=ratings, on='movieId', how='right')
merged_right

In [ ]:
# Full (outer) join
merged_outer = pd.merge(left=movies, right=ratings, on='movieId', how='outer')
merged_outer

------------------------------------------------------
# SLIDES
------------------------------------------------------

# Introduction to Plotting

Let's create a copy of our `merged_inner` data and make some plots with that.

In [ ]:
data_complete = merged_inner.copy()

In [ ]:
# Plot data directly from a Pandas dataframe
data_complete['rating'].plot(kind='hist')
plt.title('Distribution of Movie Ratings')
plt.xlabel('Rating')
plt.ylabel('Frequency')

In [ ]:

# Matplotlib
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 6))
plt.hist(data_complete['rating'], bins=5, color='skyblue', edgecolor='black')
plt.title('Distribution of Movie Ratings')
plt.xlabel('Rating')
plt.ylabel('Frequency')

# Save the plot before showing it
plt.savefig('fig_output/matplotlib_histogram.png', dpi=300, bbox_inches='tight')

plt.show()

In [ ]:

# Seaborn
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 6))
sns.histplot(data_complete['rating'], bins=5, color='skyblue', kde=False)
plt.title('Distribution of Movie Ratings')
plt.xlabel('Rating')
plt.ylabel('Frequency')

# Save the plot before showing it
plt.savefig('fig_output/seaborn_histogram.png', dpi=300, bbox_inches='tight')

plt.show()

In [ ]:

# Plotnine
from plotnine import ggplot, aes, geom_histogram, ggtitle, labs, theme_classic

plot = (ggplot(data_complete, aes(x='rating')) +
        geom_histogram(bins=5, fill='skyblue', color='black') +
        ggtitle('Distribution of Movie Ratings') +
        labs(x='Rating', y='Frequency') +
        theme_classic())
        
print(plot)

# Save the plot
plot.save('fig_output/plotnine_histogram.png', dpi=300)

These examples provide the same output visually but differ significantly in the way they are coded. The choice between them depends on the user's preference for customization, simplicity, and familiarity with the plotting paradigm.

#### Summary of Differences

**Matplotlib:**

- Requires more boilerplate code (e.g., `plt.figure()`, `plt.show()`).
- Customisation (color, labels) is done through method arguments.
- The histogram is created using `plt.hist()`.

**Seaborn:**

- Less code than Matplotlib, with some additional aesthetics by default.
- Histogram created with `sns.histplot()`; `kde=False` disables the kernel density estimate line.
- Integrates with Matplotlib for underlying plotting but adds simplicity.

**Plotnine:**

- Follows a declarative style with the *Grammar of Graphics* approach.
- Plots are constructed by layering components (`ggplot`, `aes`, `geom_histogram`).
- Requires fewer explicit function calls for titles and labels but uses a more complex syntax.

------------------------------------------------------
# SLIDES
------------------------------------------------------